<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SamsOnlineFoods.com / Best Online Foods Delivery Services</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="/static/img/logo.png" style="height: 50px;width: 50px;"alt="" class="logo">
        </div>
        <ul>
            <li id="item"><a href="/">HOME</a></li>
            <li id="item"><a href="/#services">SERVICES</a></li>
            <li id="item"><a href="/#client-section">ABOUT US</a></li>
            <li id="item"><a href="/#contact">CONTACT US</a></li>
            <li id="item"><a href="/register">SIGN UP</a></li>
            <li id="item"><a href="/login">LOG IN</a></li>
        </ul>
    </nav>
    <center>
        <form action="/insert" method="post">
            <h1>Sign-up To Register</h1>
            <table border="2px solid">

                <tr>
                    <td>Name</td><td><input type="text" name="uname" id="uname"></td>
                </tr>
                <tr>
                    <td>Email</td><td><input type="email" name="email" id="email"></td>
                </tr>
                <tr>
                    <td>Password</td><td><input type="password" name="passw"></td>
                </tr>
                <tr>
                    <td>Contact</td><td><input type="number" name="con"></td>
                </tr>
            </table>
            <br><br>
            <input type="reset" value="refresh" id="btn">
            <input type="submit" value="submit" id="btn">
        </form></center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
   <footer>
       <div class="center">
           Copyright &copy; www.SamsOnlineFoods.com. All rights reserved!
       </div>
   </footer>
</body>
</html>